/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body{
	width:876px;
	margin: 0 auto;
}

header nav{
	margin-top:50px;
}

nav a{
	margin-right:60px;
	color:gray;
	text-decoration:none;
}

.logo {
	float:right;
	margin-left:693px;
	margin-top:-28px;
}

.hero{
	border-bottom: 1px solid black;
	padding-bottom:80px;
}

.hero h1{
	text-align:center;
	display:inline-block;
	font-size:90px;
	margin-left:60px;
	margin-top:120px;
}

.hero .cta{
	width: 190px;
	border: 1px solid black;
	padding: 8px;
	text-align: center;
	margin-left: 140px;
	font-weight:bold;
	font-size:18px;
}

.hero .code{
	margin-left:495px;
	margin-top:-370px;
}

.top{
	display:inline-block;
	width:49%;
	margin:50px 0px;
}	

.top2{
	display:inline-block;
	width:49%;
	margin:50px 0px 50px 10px;
}

.border{
	border-bottom: 1px solid black;
}

.bottom{
	display:inline-block;
	width:32%;
	margin:50px 0px;
}

.bottom2{
	display:inline-block;
	width:32%;
	margin:50px 0px 50px 10px;
}

address{
	margin:50px 0px;
}

footer{
	text-align:center;
	margin-bottom:50px;
}